.game-info-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2.5rem;
  .options {
    display: flex;
    gap: 0.5rem;
    font-size: 2.5rem;
    font-weight: 900;

    #option-X {
      color: #27c5bf;
    }
    #option-O {
      color: #f4b245;
    }
  }
  #player-turn {
    display: flex;
    gap: 0.5rem;
    background-color: #3c505b;
    color: white;
    border-radius: 5px;
    padding: 0 0.8rem;
  }

  button {
    padding: 1.2rem 0.8rem;
    border: none;
    border-radius: 15px;
    // color: #90a5b0;
    color: black;
  }
}

@media (max-width: 767px) {
  .game-info-row {
    gap: 0.5rem;
    #player-turn {
      padding: 0 0.8rem;
    }
  }
}
