.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 0.1rem;
  width: 25vw;
  height: 70vh;
}

@media(width < 767px){
  .container{
    width: 70vw;
  }
}