/* You can add global styles to this file, and also import other style files */
body{
    background-color: #1e333e;
}
app-root{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

app-game-info{
    display: flex;
    justify-content: center;
}

@media(width < 767px){
    app-game-info{
        width: 100vw;
    }
}